html {
    font-size: 100px;
}
html,
body,
.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
    font-size: .12rem;
}
a,
a:hover,
a:active,
a:visited,
a:target {
    color: #000;
}
.main {
    position: relative;
    margin: 0 auto;
    background-size: 100% 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
}
/*--PAGE1--*/
.page1 {
    background-size: 100% 100%;
    overflow: hidden;
    /*background: data-uri("@{img}/bg1.png") no-repeat;*/
}
.page1 * {
    opacity: 0;
}
.page1 .bg {
    position: absolute;
    z-index: -100;
    opacity: 1;
}
.page1 .porCon {
    position: absolute;
    top: 1.3rem;
    width: 3.2rem;
    height: 0.85rem;
}
.page1 .circle {
    width: 1.11rem;
    height: 1.11rem;
    position: absolute;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 1.45rem;
    left: 1.065rem;
    opacity: 0;
}
.page1 .img1 {
    position: absolute;
    top: 0.75rem;
    left: 1.39rem;
    width: .44rem;
    height: .38rem;
}
.page1 .img2 {
    position: absolute;
    top: 2.99rem;
    left: 1.39rem;
    width: .44rem;
    height: .38rem;
}
.page1 .text {
    position: absolute;
    width: 1.1rem;
    height: 0.25rem;
    left: 1.05rem;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    opacity: 0;
}
.page1 .text.conT {
    top: 4.1rem;
}
.page1 .text.conT1 {
    top: 4.5rem;
}
.page1 .text span {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
}
#page1 * {
    opacity: 1;
}
#page1 .bg {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#page1 .img1 {
    animation: fadeIn 1s 1s both;
}
#page1 .img2 {
    animation: fadeIn 1s 1s both;
}
#page1 .porCon span:before {
    content: attr(data-shadow);
    color: transparent;
    text-shadow: 0 0 15px #111;
    position: absolute;
    z-index: -1;
    margin: -0.1em 0 0 0;
    animation: skew 2s ease-in-out alternate infinite;
    transform-origin: bottom;
}
#page1 .porCon span {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: #EEE;
    animation: rotate 2s ease-in-out alternate infinite;
}
@keyframes rotate {
    from {
        transform: rotateY(-20deg);
        text-shadow: 1px -1px #CCC, 2px -1px #BBB, 3px -2px #AAA, 4px -2px #999, 5px -3px #888, 6px -3px #777;
    }
    to {
        transform: rotateY(20deg);
        text-shadow: -1px -1px #CCC, -2px -1px #BBB, -3px -2px #AAA, -4px -2px #999, -5px -3px #888, -6px -3px #777;
    }
}
@keyframes skew {
    from {
        transform: scaleY(0.3) skewX(-15deg);
    }
    to {
        transform: scaleY(0.3) skewX(-20deg);
    }
}
#page1 .circle {
    opacity: 0.5;
    transform: scale(2);
    transition: 1s 0.3s;
}
#page1 .bg {
    transform: scale(0.5);
    transition: 1s 0.3s;
}
#page1 .text {
    /*  animation: zoomIn 1s 1s both;*/
    opacity: 1;
}
#page1 .text.conT {
    opacity: 1;
    animation: fadeInLeft 1s 1s both;
}
#page1 .text.conT1 {
    opacity: 1;
    animation: fadeInRight 1s 1s both;
}
/*--PAGE2--*/
.page2 {
    background: url("../img/bg1.2.jpg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.page2 * {
    opacity: 0;
}
.page2 .con2 {
    position: absolute;
    top: 0.3rem;
    left: 0.23rem;
    width: 2.74rem;
    height: 5.5rem;
    overflow: hidden;
}
.page2 .con2 .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
}
.page2 .con2 .img2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .con2 span {
    position: absolute;
    top: .1rem;
    left: 0.15rem;
    height: 0.18rem;
    line-height: 0.18rem;
    font-size: 0.18rem;
    color: #ffffff;
}
.page2 .con2 .pub {
    position: absolute;
    top: 0.38rem;
    left: 0.15rem;
    width: 1.3rem;
    height: 0.35rem;
    background: rgba(255, 255, 255, 0.3);
}
.page2 .con2 .pub span {
    font-size: 0.14rem;
}
.page2 .con2 .Shadow {
    position: absolute;
    top: 0.8rem;
    left: 0;
    width: 100%;
    height: 4.2rem;
    background: rgba(0, 0, 0, 0.5);
}
.page2 .con2 .Shadow div {
    position: absolute;
    width: 2.43rem;
    height: 0.35rem;
    background: rgba(255, 255, 255, 0.3);
    left: 0.15rem;
}
.page2 .con2 .Shadow div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.42rem;
    height: 0.35rem;
    font-size: 0.14rem;
    color: #ffffff;
    text-align: left;
    padding-left: 0.1rem;
    line-height: 0.35rem;
}
.page2 .con2 .Shadow div:nth-child(1) {
    top: 0.2rem;
}
.page2 .con2 .Shadow div:nth-child(2) {
    top: 0.63rem;
}
.page2 .con2 .Shadow div:nth-child(3) {
    top: 1.06rem;
}
.page2 .con2 .Shadow div:nth-child(4) {
    top: 1.49rem;
}
.page2 .con2 .Shadow div:nth-child(5) {
    top: 1.93rem;
}
.page2 .con2 .Shadow div:nth-child(6) {
    top: 2.35rem;
}
#page2 * {
    opacity: 1;
}
#page2 .con2 .img1 {
    animation: fadeInDown 0.5s 0s both;
}
#page2 .con2 .img2 {
    animation: slideInRight 1s 0.3s both;
}
#page2 .con2 .pub {
    animation: zoomIn 1s 0.3s both;
}
#page2 .con2 .Shadow {
    animation: fadeInUp 0.5s 0s both;
}
#page2 .con2 .Shadow div:nth-child(1) {
    animation: fadeInLeft 1.5s 0.5s both;
}
#page2 .con2 .Shadow div:nth-child(2) {
    animation: fadeInRight 1.5s 0.6s both;
}
#page2 .con2 .Shadow div:nth-child(3) {
    animation: fadeInLeft 1.5s 0.7s both;
}
#page2 .con2 .Shadow div:nth-child(4) {
    animation: fadeInRight 1.5s 0.8s both;
}
#page2 .con2 .Shadow div:nth-child(5) {
    animation: fadeInLeft 1.5s 0.9s both;
}
#page2 .con2 .Shadow div:nth-child(6) {
    animation: fadeInRight 1.5s 1s both;
}
/*--PAGE3--*/
.page3 {
    background-size: 100% 100%;
    overflow: hidden;
}
.page3 * {
    opacity: 0;
}
.page3 div {
    position: absolute;
    transform: rotate(45deg);
}
.page3 div:nth-child(1) {
    width: 5rem;
    height: 5rem;
    border: 0.015rem solid #12034f;
    top: 0.33rem;
    left: -3.7rem;
}
.page3 div:nth-child(2) {
    width: 4.6rem;
    height: 4.6rem;
    background: #12034f;
    top: 0.535rem;
    left: -3.32rem;
}
.page3 div:nth-child(3) {
    width: 4rem;
    height: 4rem;
    background: #12034f;
    border: 0.03rem solid #fff;
    top: 0.79rem;
    left: -3.1rem;
}
.page3 div:nth-child(4) {
    width: 0.5rem;
    height: 0.5rem;
    border-color: transparent;
    border-left: 0.015rem solid #12034f;
    border-bottom: 0.015rem solid #12034f;
    top: 2.59rem;
    left: 2.44rem;
}
.page3 div:nth-child(5) {
    width: 0.4rem;
    height: 0.4rem;
    top: -1.65rem;
    left: -1.58rem;
}
.page3 div:nth-child(5) p {
    width: 0.4rem;
    height: 0.4rem;
    background: #eaef08;
}
.page3 div:nth-child(6) {
    width: 0.25rem;
    height: 0.25rem;
    top: 0rem;
    left: -0.25rem;
}
.page3 div:nth-child(6) p {
    width: 0.25rem;
    height: 0.25rem;
    background: #721394;
}
.page3 div:nth-child(7) {
    width: 0.7rem;
    height: 0.7rem;
    top: 0rem;
    left: -0.4rem;
    z-index: -22;
}
.page3 div:nth-child(7) p {
    width: 0.7rem;
    height: 0.7rem;
    background: #f0f0f0;
}
.page3 div:nth-child(8) {
    width: 0.25rem;
    height: 0.25rem;
    top: -0.8rem;
    left: 0rem;
}
.page3 div:nth-child(8) p {
    width: 0.25rem;
    height: 0.25rem;
    background: #3608ef;
}
.page3 div:nth-child(9) {
    width: 0.25rem;
    height: 0.25rem;
    top: 4.5rem;
    left: 0.9rem;
}
.page3 div:nth-child(9) p {
    width: 0.25rem;
    height: 0.25rem;
    background: #721394;
}
.page3 div:nth-child(10) {
    width: 0.12rem;
    height: 0.12rem;
    top: 2rem;
    left: 0.3rem;
}
.page3 div:nth-child(10) p {
    width: 100%;
    height: 100%;
    background: red;
}
.page3 div:nth-child(11) {
    width: 0.19rem;
    height: 0.19rem;
    top: 5.7rem;
    left: -0.5rem;
}
.page3 div:nth-child(11) p {
    width: 100%;
    height: 100%;
    background: red;
}
.page3 div:nth-child(12) {
    width: 0.12rem;
    height: 0.12rem;
    top: 4.6rem;
    left: 1.3rem;
}
.page3 div:nth-child(12) p {
    width: 100%;
    height: 100%;
    background: red;
}
.page3 div:nth-child(13) {
    width: 1.8rem;
    height: 1.8rem;
    top: 5.4rem;
    left: 0rem;
}
.page3 div:nth-child(13) p {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
}
.page3 .scale {
    position: absolute;
    top: 2rem;
    left: 0.35rem;
    font-size: 34px;
    color: #ffffff;
}
.page3 span {
    position: absolute;
    left: 0.35rem;
    font-size: 26px;
    color: #ffffff;
}
.page3 span.one {
    top: 2.6rem;
}
.page3 span.one1 {
    top: 2.9rem;
}
#page3 * {
    opacity: 1;
}
#page3 div {
    transform: rotate(45deg);
}
#page3 div:nth-child(5) {
    transform: rotate(0deg);
    animation: move2 0.5s 0.3s ease-in-out both;
}
#page3 div:nth-child(5) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(6) {
    transform: rotate(0deg);
    animation: move1 0.5s 0.2s ease-in-out both;
}
#page3 div:nth-child(6) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(7) {
    transform: rotate(0deg);
    animation: move3 0.5s ease-in-out both;
}
#page3 div:nth-child(7) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(8) {
    transform: rotate(0deg);
    animation: move4 0.5s 0.5s ease-in-out both;
}
#page3 div:nth-child(8) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(9) {
    width: 0.25rem;
    height: 0.25rem;
    top: 4.5rem;
    left: 0.9rem;
}
#page3 div:nth-child(9) p {
    width: 0.25rem;
    height: 0.25rem;
    background: #721394;
}
#page3 div:nth-child(10) {
    width: 0.12rem;
    height: 0.12rem;
    top: 2rem;
    left: 0.3rem;
}
#page3 div:nth-child(10) p {
    width: 100%;
    height: 100%;
    background: red;
}
#page3 div:nth-child(11) {
    transform: rotate(0deg);
    animation: move7 0.5s 0.5s ease-in-out both;
}
#page3 div:nth-child(11) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(12) {
    transform: rotate(0deg);
    animation: move5 0.5s 0.5s ease-in-out both;
}
#page3 div:nth-child(12) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 div:nth-child(13) {
    transform: rotate(0deg);
    animation: move6 0.5s 0.5s ease-in-out both;
}
#page3 div:nth-child(13) p {
    transform: rotate(0deg);
    animation: move 1s 1s linear both;
}
#page3 > p {
    animation: rollIn 0.7s 1s both;
}
#page3 > span {
    animation: rollIn 0.7s 1s both;
}
@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes move1 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(1rem, 1rem) rotate(45deg);
    }
}
@keyframes move2 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(4.2rem, 4.3rem) rotate(45deg);
    }
}
@keyframes move3 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(1.7rem, 1.7rem) rotate(45deg);
    }
}
@keyframes move4 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(2.2rem, 2.2rem) rotate(45deg);
    }
}
@keyframes move5 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(1rem, -1rem) rotate(45deg);
    }
}
@keyframes move6 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(1rem, -1rem) rotate(45deg);
    }
}
@keyframes move7 {
    0% {
        transform: rotate(45deg) translate(0rem, 0rem);
    }
    100% {
        transform: translate(2rem, -2rem) rotate(45deg);
    }
}
/*--PAGE4--*/
.page4 {
    background: url("../img/page4.jpg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.page4 * {
    opacity: 0;
}
.page4 .reg {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 0.15rem;
    height: 0.15rem;
}
.page4 .reg p {
    width: 0.15rem;
    height: 0.15rem;
    transform: rotate(45deg);
    background: #d3a66a;
}
.page4 h3 {
    font-weight: bold;
    font-family: defaultFont;
    font-size: 32px;
    color: #ffffff;
    position: absolute;
    top: 0.15rem;
    left: 0.4rem;
}
.page4 .cur {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 2.5rem;
    left: 0.08rem;
    padding: 0.02rem;
    border: 1px solid #c19862;
    border-radius: 50%;
}
.page4 .cur div {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0.02rem;
    left: 0.02rem;
    border-radius: 50%;
}
.page4 .cur div img {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 50%;
}
.page4 .line1 {
    position: absolute;
    top: 2.15rem;
    left: .5rem;
    width: 1rem;
    height: 0.01rem;
}
.page4 .line1 span {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 0.01rem;
    background: #c19862;
    transform: rotate(-43deg);
}
.page4 .line2 {
    position: absolute;
    top: 3.1rem;
    left: 1.36rem;
    width: 0.5rem;
    height: 0.01rem;
}
.page4 .line2 span {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 0.5rem;
    height: 0.01rem;
    background: #c19862;
}
.page4 .line3 {
    position: absolute;
    top: 4.1rem;
    left: .5rem;
    width: 1rem;
    height: 0.005rem;
}
.page4 .line3 span {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 0.005rem;
    background: #c19862;
    transform: rotate(43deg);
}
.page4 > p {
    font-weight: bold;
    color: #f7951e;
    font-size: 16px;
    position: absolute;
}
.page4 > p.ch1 {
    top: 1.45rem;
    left: 1.3rem;
}
.page4 > p.ch2 {
    top: 2.8rem;
    left: 1.87rem;
    font-size: 20px;
    color: white;
}
.page4 > p.ch3 {
    top: 4.4rem;
    left: 1.3rem;
}
#page4 * {
    opacity: 1;
}
#page4 .reg {
    animation: flash 2s ease-in infinite;
}
#page4 .reg p {
    width: 0.15rem;
    height: 0.15rem;
    transform: rotate(45deg);
    background: #d3a66a;
}
#page4 h3 {
    animation: bounceInRight 1s both;
}
#page4 .cur {
    animation: zoomIn 0.6s .2s both;
}
#page4 .cur div {
    animation: zoomIn 0.4s both;
}
#page4 .cur div img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 50%;
}
#page4 .line1 {
    animation: rotateInUpLeft 0.8s 0.4s both;
}
#page4 .line1 span {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1rem;
    height: 0.01rem;
    background: #c19862;
    transform: rotate(-43deg);
}
#page4 .line2 {
    animation: fadeInLeft 0.8s 0.4s both;
}
#page4 .line3 {
    animation: rotateInDownLeft 0.8s 0.6s both;
}
#page4 > p {
    font-weight: bold;
    color: #f7951e;
    font-size: 16px;
    position: absolute;
}
#page4 > p.ch1 {
    animation: fadeInRight 1s 0.3s both;
}
#page4 > p.ch2 {
    animation: fadeInRight 1s 0.5s both;
    color: white;
    font-size: 18px;
}
#page4 > p.ch3 {
    animation: fadeInRight 1s 0.7s both;
}
@keyframes change {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
/*--PAGE5--*/
.page5 {
    background: url("../img/page5.jpg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.page5 * {
    opacity: 0;
}
.page5 div:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 2.65rem;
    height: 4rem;
    text-align: center;
}
.page5 div:nth-child(1) img {
    width: 100%;
    height: 100%;
}
.page5 div:nth-child(1) h3 {
    position: absolute;
    font-size: 0.28rem;
    color: black;
    top: 0.15rem;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: lighter;
}
.page5 div:nth-child(1) .element {
    text-align: left;
    position: absolute;
    width: 1.7rem;
    left: 0;
    right: 0;
    margin: auto;
    font-size: .14rem;
    line-height: .26rem;
    color: black;
    top: 0.8rem;
}
#page5 * {
    opacity: 1;
}
#page5 #bug {
    color: white;
    font-size: 0.2rem;
}
#page5 div h3 {
    animation: fadeIn 1s 0.5s both;
}
#page5 div .element {
    animation: fadeIn 1s 1.3s both;
}
